.landingPageContainer {
    width: 100%
}

.card {
    position: 'relative';
    padding: 0.5rem;
    background: '#f2f2f2';
    overflow: 'hidden';
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    background: linear-gradient(135deg, #ffffff 10%, #f2f2f2 40%, #ffffff 70%);
}

.content {
    z-index: 1,
}